@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: theme('colors.primary');
  --color-primary-content: theme('colors.primary-content');
  --color-primary-dark: theme('colors.primary-dark');
  --color-primary-light: theme('colors.primary-light');

  --color-secondary: theme('colors.secondary');
  --color-secondary-content: theme('colors.secondary-content');
  --color-secondary-dark: theme('colors.secondary-dark');
  --color-secondary-light: theme('colors.secondary-light');

  --color-background: theme('colors.background');
  --color-foreground: theme('colors.foreground');
  --color-border: theme('colors.border');

  --color-copy: theme('colors.copy');
  --color-copy-light: theme('colors.copy-light');
  --color-copy-lighter: theme('colors.copy-lighter');

  --color-success: theme('colors.success');
  --color-warning: theme('colors.warning');
  --color-error: theme('colors.error');

  --color-success-content: theme('colors.success-content');
  --color-warning-content: theme('colors.warning-content');
  --color-error-content: theme('colors.error-content');
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
}